doctype html
html
  head
    //- meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    //- meta(http-equiv="X-UA-Compatible", content="IE=7")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- title= title
    title MMI - ADMIN
    link(rel='stylesheet', href='/admin-lte-3/plugins/fontawesome-free/css/all.css')
    link(rel="shortcut icon", href="https://thumbs.gfycat.com/SpottedPositiveAmericanlobster-size_restricted.gif", type="image/x-icon")

    link(rel="stylesheet", href="/admin-lte-3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    link(rel="stylesheet", href="/admin-lte-3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")

    link(rel="stylesheet", href="/admin-lte-3/dist/css/adminlte.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" )
    block css
  //- body.hold-transition.sidebar-mini
  body.sidebar-mini.sidebar-collapse.layout-fixed.layout-navbar-fixed

    .wrapper
      nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
        ul.navbar-nav
          li.nav-item
            a.nav-link(data-widget="pushmenu", href="#", role="button")
              i.fas.fa-bars
      
      aside.main-sidebar.sidebar-dark-primary.elevation-4

        a(href="/mmi-admin-dashboard/").brand-link
          img(src="/admin-lte-3/dist/img/AdminLTELogo.png", alt="AdminLTE Logo", class="brand-image img-circle elevation-3", style="opacity: .8")
          span.brand-text.font-weight-light Admin

        .sidebar

          div(class="user-panel mt-3 pb-3 mb-3 d-flex")
            .image
              img(src=(session.user.acc_first_name+' '+session.user.acc_last_name === "Christian Cervantes") ? "/admin-lte-3/images/dp.jpeg" : "/admin-lte-3/images/unknown.jpg", class="img-circle elevation-2", alt="User Image")
            .info
              if session.user
                a.d-block=session.user.acc_first_name+' '+session.user.acc_last_name

          nav.mt-2
            ul(class="nav nav-pills nav-sidebar flex-column", data-widget="treeview", role="menu", data-accordion="false")
              li(class="nav-item has-treeview")
                a(href="/mmi-admin-dashboard/", class=(path === '/dashboard' ) ? 'nav-link active' : 'nav-link')
                  i.nav-icon.fas.fa-tachometer-alt
                  p Dashboard
              li(class="nav-item has-treeview")
                a(href="/mmi-admin-dashboard/websites", class=(path.search(/websites/g) != -1 || path === '/add-website' ) ? 'nav-link active' : 'nav-link')
                  i.nav-icon.fas.fa-globe
                  p Websites
              li(class="nav-item has-treeview")
                a(href="/mmi-admin-dashboard/articles", class=(path.search(/articles/g) != -1) ? 'nav-link active' : 'nav-link')
                  i.nav-icon.fas.fa-newspaper
                  p Articles
              if session.user.acc_type == 'dev'
                li(class="nav-item has-treeview")
                  a(href="/mmi-admin-dashboard/advance-setting", class=(path.search(/advance/g) != -1 ) ? 'nav-link active' : 'nav-link')
                    i.nav-icon.fas.fa-cog
                    p Advance Setting
              li(class="nav-item has-treeview")
                a(href="/mmi-admin-dashboard/report", class=(path.search(/report/g) != -1 ) ? 'nav-link active' : 'nav-link')
                  i.nav-icon.fas.fa-download
                  p Download Report
              li(class="nav-item has-treeview")
                a(href="/mmi-admin-dashboard/users/logout").nav-link
                  i.nav-icon.fas.fa-sign-out-alt
                  p Logout
      .content-wrapper
        .content-header
          //- .container-fluid
          //-   .row.mb-2
          //-     .col-sm-6
          //-       h1=title

        .content
          .container-fluid
            block content
      
      footer.main-footer
        div(class="float-right d-none d-sm-block")
          b Version
          |  3.0.0
        strong
          | Copyright &copy; 2019-2020
          a(href="/mmi-admin-dashboard")  MMI Scraper Dasboard
        |  All rights reserved.


    script(src="/admin-lte-3/plugins/jquery/jquery.min.js")
    script(src="/admin-lte-3/plugins/bootstrap/js/bootstrap.bundle.min.js")

    script(src="/admin-lte-3/plugins/datatables/jquery.dataTables.min.js")
    script(src="/admin-lte-3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    script(src="/admin-lte-3/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    script(src="/admin-lte-3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")

    script(src="/admin-lte-3/dist/js/adminlte.min.js")

    block js
