extends ../../layout

block content
  .row
    .col-sm-12
      .card.card-primary
        .card-header
          h3.card-title #{title}
          .card-tools
            button(type="button", class="btn btn-tool", data-card-widget="maximize")
              i.fas.fa-expand
        form(class="form-horizontal", id="form-website")

          .card-body

            .form-group.row
              label(class="col-sm-2 col-form-label", for="website_name") Website Name
              .col-sm-10
                input#website_name(type="text", name="website_name", class="form-control", placeholder="(Required)")
                //- small
                //-   i This is required field
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="website_url") Website Url
              .col-sm-10
                input#website_url(type="url", name="website_url", class="form-control", placeholder="(Required)")
                //- small
                //-   i This is required field

            .form-group.row
              label(class="col-sm-2 col-form-label", for="fqdn") FQDN
              .col-sm-10
                input#fqdn(type="text", name="fqdn", class="form-control", placeholder="(Required)")
                //- small
                //-   i This is required field

            .form-group.row
              label(class="col-sm-2 col-form-label", for="") Website Icon
              .col-sm-10
                input#website_icon_url(type="text", name="website_icon_url", class="form-control", placeholder="(Optional)")
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="website_category") Website Category
              .col-sm-10
                  .custom-control.custom-radio.col-sm-1.float-left
                    input#news(type="radio", name="website_category", class="custom-control-input web-cat", value="News", checked=true)
                    label(for='news', class="custom-control-label") News
                  .custom-control.custom-radio.col-sm-1.float-left
                    input#blog(type="radio", name="website_category", class="custom-control-input web-cat", value="Blog")
                    label(for='blog', class="custom-control-label") Blog

            .form-group.row
              label(class="col-sm-2 col-form-label", for="website_category") Website Type
              .col-sm-10
                  .custom-control.custom-radio.col-sm-2.float-left
                    input#local_news(type="radio", name="website_type", class="custom-control-input web-type", value="LOCAL_NEWS", checked=true)
                    label(for='local_news', class="custom-control-label") Local News
                  .custom-control.custom-radio.col-sm-2.float-left
                    input#local_blog(type="radio", name="website_type", class="custom-control-input web-type", value="LOCAL_BLOG")
                    label(for='local_blog', class="custom-control-label") Local Blog
                  //- .custom-control.custom-radio.col-sm-2.float-left
                  //-   input#provincial_news(type="radio", name="website_type", class="custom-control-input", value="PROVINCIAL_NEWS")
                  //-   label(for='provincial_news', class="custom-control-label") Provincial News
                  //- .custom-control.custom-radio.col-sm-2.float-left
                  //-   input#news_compilation(type="radio", name="website_type", class="custom-control-input", value="NEWS_COMPILATION")
                  //-   label(for='news_compilation', class="custom-control-label") News Compilation
                  //- .custom-control.custom-radio.col-sm-2.float-left
                  //-   input#tabloid(type="radio", name="website_type", class="custom-control-input", value="TABLOID")
                  //-   label(for='tabloid', class="custom-control-label") Tabloid
                  //- .custom-control.custom-radio.col-sm-2.float-left
                  //-   input#magazine(type="radio", name="website_type", class="custom-control-input", value="MAGAZINE")
                  //-   label(for='magazine', class="custom-control-label") Magazine
                  .custom-control.custom-radio.col-sm-2.float-left
                    input#international_news(type="radio", name="website_type", class="custom-control-input web-type", value="INTERNATIONAL_NEWS")
                    label(for='international_news', class="custom-control-label") International News
                  .custom-control.custom-radio.col-sm-2.float-left
                    input#international_blog(type="radio", name="website_type", class="custom-control-input web-type", value="INTERNATIONAL_BLOG")
                    label(for='international_blog', class="custom-control-label") International Blog
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="alexa") Alexa Ranking
              .form-group.col-sm-2.float-left
                input#global(type="number", name="global", class="form-control", placeholder="Global Rank (Optional)")
              .col-sm-2.float-left
                input#local(type="number", name="local", class="form-control", placeholder="Local Rank (Optional)")
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="country") Country
              .col-sm-10
                input#country(type="url", name="country", class="form-control", placeholder="(Optional) default is Philippines")
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="country_code") Country Code
              .col-sm-10   
                input#country_code(type="text", name="country_code", class="form-control", placeholder="(Optional) default is PHL")
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="language") Website Language
              .col-sm-10    
                input#language(type="text", name="language", class="form-control", placeholder="(Optional) default is English")
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="website_cost") Website Cost
              .col-sm-10
                input#website_cost(type="number", name="website_cost", class="form-control", placeholder="(Optional) default is 300")

            .form-group.row
              label(class="col-sm-2 col-form-label", for="website_scraper_delay") Website Scraper Delay
              .col-sm-10
                input#website_scraper_delay(type="number", name="website_scraper_delay", class="form-control", placeholder="(Optional) default is 500ms")
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="needs_search_params") Need Search Params?
              .col-sm-10
                .custom-control.custom-switch
                  input#needs_search_params(type="checkbox", name="needs_search_params", class="custom-control-input")
                  label(for="needs_search_params", class="custom-control-label") Yes or No

            .form-group.row
              label(class="col-sm-2 col-form-label", for="needs_https") Need Https?
              .col-sm-10
                .custom-control.custom-switch
                  input#needs_https(type="checkbox", name="needs_https", class="custom-control-input")
                  label(for="needs_https", class="custom-control-label") Yes or No
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="needs_endslash") Need Endslash?
              .col-sm-10
                .custom-control.custom-switch
                  input#needs_endslash(type="checkbox", name="needs_endslash", class="custom-control-input")
                  label(for="needs_endslash", class="custom-control-label") Yes or No

            .form-group.row
              label(class="col-sm-2 col-form-label", for="is_using_proxy") Using Proxy?
              .col-sm-10
                .custom-control.custom-switch
                  input#is_using_proxy(type="checkbox", name="is_using_proxy", class="custom-control-input")
                  label(for="is_using_proxy", class="custom-control-label") Yes or No
            
            .form-group.row
              label(class="col-sm-2 col-form-label", for="main_sections") Section Urls
              .col-sm-10
                textarea#main_sections(name="main_sections", cols="30", rows="5", style="resize:none;", class="form-control")

          .card-footer
            button.btn.btn-primary(type="button", id="btnAdd") Add
                

          

block js
  script.
    const userData = JSON.parse('!{JSON.stringify(session)}')
    const user = userData.user.acc_first_name+' '+userData.user.acc_last_name
  script(src="/admin-lte-3/javascripts/website/add.js")
