extends ../../layout

block content
  .row
    .col-sm-12
      .card
        .card-header
          h3.card-title List of websites
          .card-tools
            button(type="button", class="btn btn-tool", data-card-widget="maximize")
              i.fas.fa-expand
            button(type="button", class="btn btn-tool", data-card-widget="collapse")
              i.fas.fa-minus
        .card-body
          table#website-datatable(class="table table-bordered table-hover")
            thead
              tr
                th NAME
                th FQDN
                th CATEGORY
                th TYPE
                th Country
                th STATUS
                th CREATED
    
    .col-sm-12
      button.btn.btn-primary(onclick="location.href='/mmi-admin-dashboard/add-website'")
        span.fas.fa-globe
        |  New

block js
  script(src="/admin-lte-3/javascripts/website/index.js")
  script.
    websiteTable('#{session.user.acc_type}')