extends ../../layout

block content
  .row
    .col-sm-12
      .card
        .card-header
          h3.card-title List of websites
          .card-tools
            button.btn.btn-tool(onclick="location.href='/mmi-admin-dashboard/add-website'", title="New website")
              i.fas.fa-globe
            button.btn.btn-tool(onclick="download()", title="Download Excel")
              i.fas.fa-download
            button(type="button", class="btn btn-tool", data-card-widget="maximize")
              i.fas.fa-expand
            button(type="button", class="btn btn-tool", data-card-widget="collapse")
              i.fas.fa-minus
        .card-body
          table#website-datatable(class="table table-bordered table-hover")
            thead
              tr
                th Website Name
                th FQDN
                th Country
                th Country Code
                th Website Category
                th Global Rank
                th Loca Rank
                th Verified
                th Date Created
            thead
              tr
                th Website Name
                th FQDN
                th Country
                th Country Code
                th Website Category
                th Global Rank
                th Local Rank
                th Verified
                th Date Created


block js
  script.
        const userData = JSON.parse('!{JSON.stringify(session)}')
        const user = userData.user.acc_first_name+' '+userData.user.acc_last_name
  script(src="/admin-lte-3/javascripts/moment.min.js")
  script(src="/admin-lte-3/javascripts/fetch.js")
  script(src="/admin-lte-3/javascripts/website/scraper.js")